<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b8f8f4">  <td>16/02/15 17:26:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Onboarding.Onboard()[pri:0, instance:Solutio.Onboarding@c39f790]">Onboard</td> 
  <td>main@2109957412</td>   <td></td> </tr>
<tr bgcolor="b8f8f4">  <td>16/02/15 17:26:33</td>   <td>21296</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Onboarding.afterEachTest(org.testng.ITestResult)[pri:0, instance:Solutio.Onboarding@c39f790]">&lt;&lt;afterEachTest</td> 
<td>&nbsp;</td>  <td>main@2109957412</td>   <td></td> </tr>
<tr bgcolor="b8f8f4">  <td>16/02/15 17:26:34</td>   <td>22382</td> <td title="&lt;&lt;Onboarding.afterSuite()[pri:0, instance:Solutio.Onboarding@c39f790]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2109957412</td>   <td></td> </tr>
</table>
